<div class="d-flex flex-column gap-2 mb-3">
    <app-crud-navbar></app-crud-navbar>
</div>

<form [formGroup]="form" class="d-flex  flex-column ">
    <mat-form-field>
        <mat-label>Subject</mat-label>
        <input
        matInput
        type="text"
        formControlName="subject"
        />
        @if(form.get('subject').invalid && form.get('subject').touched) {
            <mat-error>Subject is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <input
        matInput
        type="text"
        formControlName="description"
        />
        @if(form.get('description').invalid && form.get('description').touched) {
            <mat-error>Description is required</mat-error>
        }
    </mat-form-field>

    <div class="d-flex gap-2">
        <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        (click)="onSubmit(form.value)"
        >
        Add
        </button>

        <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        (click)="form.reset()"
        >
        Reset
        </button>
    </div>

</form>
